<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/res/img/fav.ico">
    <link rel="stylesheet" type="text/css" href="/res/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/res/css/font-awesome.min.css">
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<a class="btn btn-primary" href="/order">Order now</a>
<div class="container" id="table">

</div>
</body>