<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/res/img/fav.ico">
    <link rel="stylesheet" type="text/css" href="/res/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/res/css/font-awesome.min.css">
    <title>Trading</title>
</head>
<body>
<div class="container default mt-5">
    <form id="bidForm" action="/bid/" method="post">
        <div class="row mb-4 me-auto">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fs-5" for="orderType">Loại lệnh</label>
                    <select class="form-select" id="orderType" name="orderType" aria-label="Default select example">
                        <option selected value="default">Lệnh thông thường</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fs-5" for="tradeOption">Mua/Bán</label>
                    <select class="form-select" id="tradeOption" name="tradeOption">
                        <option selected value="buy">Mua</option>
                        <option value="sell">Bán</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-4 me-auto">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fs-5" for="stockName">Mã CK</label>
                    <input type="text" id="stockName" name="stockName" class="form-control" placeholder="ACB" autocapitalize="characters" style="text-transform:uppercase" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fs-5" for="orderType1">Lệnh</label>
                    <select class="form-select" id="orderType1" name="orderType1">
                        <option selected value="LO">LO</option>
                        <option value="ATC">ATC</option>
                        <option value="ATO">ATO</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-4 me-auto">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fs-5" for="amount">Số lượng</label>
                    <input type="number" min="0" class="form-control" id="amount" name="amount" autocomplete="false" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fs-5" for="maxAmount">Số lượng max</label>
                    <input type="number" min="0"  class="form-control" id="maxAmount" name="maxAmount" autocomplete="false" required>
                </div>
            </div>
        </div>
        <div class="row mb-4 me-auto">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fs-5" for="price">Giá</label>
                    <input type="number" step="any" class="form-control" name="price" id="price" autocomplete="false" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="enableMultiplier">
                    <label class="fs-5" for="multiplier">Nhân lệnh</label>
                    <input type="number" min="1" class="form-control" contenteditable="false" id="multiplier" name="multiplier" value="1" disabled>
                </div>
            </div>
        </div>
        <div class="row mb-4 me-auto">
            <div class="col-md-4">
                <button id="action" type="submit" class="btn btn-primary"></button>
                <button type="reset" class="btn btn-secondary">Làm lại</button>
            </div>
        </div>

        <% if(typeof alert != 'undefined') { %>
        <% alert.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
        </div>
        <% }) %>
        <% } %>
    </form>
    <div class="row mb-4 me-auto">
        <div class="col-md-4 fs-4">
            Trạng thái tiểu khoản: <span class="font-monospace" id="accStatus">Bình thường</span>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/res/js/script.js"></script>
<!--<script type="text/javascript" src="/res/js/jquery.validate.min.js"></script>-->
</html>
