<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/res/img/fav.ico">
    <link rel="stylesheet" type="text/css" href="/res/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/res/css/font-awesome.min.css">
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<a class="btn btn-primary" href="/order">Order now</a>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Mã CK</th>
            <th scope="col">Giá mua 3</th>
            <th scope="col">Số lượng 3</th>
            <th scope="col">Giá mua 2</th>
            <th scope="col">Số lượng 2</th>
            <th scope="col">Giá mua 1</th>
            <th scope="col">Số lượng 1</th>
            <th scope="col">Giá khớp</th>
            <th scope="col">Khối lượng khớp</th>
            <th scope="col">Giá bán 1</th>
            <th scope="col">Số lượng 1</th>
            <th scope="col">Giá bán 2</th>
            <th scope="col">Số lượng 2</th>
            <th scope="col">Giá bán 3</th>
            <th scope="col">Số lượng 3</th>
            <th scope="col">Tổng khối lượng</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/res/js/index.js"></script>
