<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/res/img/fav.ico">
    <link rel="stylesheet" type="text/css" href="/res/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/res/css/font-awesome.min.css">
    <title>Live index</title>
</head>
<body>
<a class="btn btn-primary" href="/order">Đặt mua</a>
<div class="container">
    <table class="table table-bordered text-center" style="empty-cells: show">
        <thead>
        <tr>
            <th rowspan="2" class="w-auto">Mã CK</th>
            <th colspan="6" class="table-primary">Mua</th>
            <th rowspan="2" class="w-auto">Giá khớp</th>
            <th rowspan="2" class="w-auto">SL khớp</th>
            <th colspan="6" class="table-warning">Bán</th>
            <th rowspan="2" class="w-auto">Tổng SL</th>
        </tr>
        <tr>
            <th class="w-auto table-primary">Giá 3</th>
            <th class="w-auto table-primary">SL 3</th>
            <th class="w-auto table-primary">Giá 2</th>
            <th class="w-auto table-primary">SL 2</th>
            <th class="w-auto table-primary">Giá 1</th>
            <th class="w-auto table-primary">SL 1</th>
            <th class="w-auto table-warning">Giá 1</th>
            <th class="w-auto table-warning">SL 1</th>
            <th class="w-auto table-warning">Giá 2</th>
            <th class="w-auto table-warning">SL 2</th>
            <th class="w-auto table-warning">Giá 3</th>
            <th class="w-auto table-warning">SL 3</th>
        </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/res/js/index.js"></script>
