<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/res/img/fav.ico">
    <link rel="stylesheet" type="text/css" href="/res/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/res/css/font-awesome.min.css">
    <title>Trading</title>
</head>
<body>
<div class="container default mt-5">
    <form id="orderForm" name="order" action="/order" method="post">
        <div class="row mb-4 me-auto">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fs-5" for="stockName">Mã CK</label>
                    <input type="text" id="stockName" name="stockName" class="form-control" autocapitalize="characters" autocomplete="off" style="text-transform:uppercase" required>
                </div>
            </div>
        </div>
        <div class="row mb-4 me-auto">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fs-5" for="amount">Số lượng</label>
                    <input type="number" min="1" class="form-control" id="amount" name="amount" autocomplete="false" required>
                </div>
            </div>
        </div>
        <div class="row mb-4 me-auto">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fs-5" for="price">Giá</label>
                    <input type="number" min="0" step="any" class="form-control" name="price" id="price" autocomplete="false" required>
                </div>
            </div>
        </div>
        <div class="row mb-4 me-auto">
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tradeOption" id="buy" value="buy" checked>
                    <label class="form-check-label" for="buy">
                        Mua
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tradeOption" value="sell" id="sell">
                    <label class="form-check-label" for="sell">
                        Bán
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-4 me-auto">
            <div class="col-md-4">
                <button id="action" type="submit" class="btn btn-primary"></button>
                <button type="reset" class="btn btn-secondary">Làm lại</button>
            </div>
        </div>

        <% if(typeof errors != 'undefined') { %>
        <% errors.forEach(function(err) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= err.msg %>
        </div>
        <% }) %>
        <% } %>
    </form>
</div>
</body>
<script type="text/javascript" src="/res/js/script.js"></script>
</html>
